numpy
matplotlib
pandas
seaborn
scikit-learn
tensorflow
keras
opencv-python
Pillow
scikit-image
nltk
spacy
beautifulsoup4
scikit-image
Pillow 
opencv-python
stable_baselines3
cmake 
gym 
pygame 
gym[all] 
